*.pyc
.pytest_cache
.vscode
build
dist
__pycache__
*.egg-info
_build
.venv
audio_downloads
video_downloads
video_metadata
video_metadata.db
audio_metadata.db
Database videos.m3u
link2playback.db
.coverage
